body {
    background-color: white
}

img {
    width: 350px;
    position: absolute;
    height: 900px;
}

h1 {
    padding-left: 600px;
    font-size: 20px;
    align-content: center;
}

h2 {
    padding-top: 90px;
    padding-right: 800px;
    font-size: 18px;
}

.headers {
    display: flex; 
    background-color: whitesmoke;
    text-align: right;
    
}

.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    
}

.bottomButton {
    background-color: whitesmoke;
    text-align: center;
    padding: 60px;
   
}

input {
    display: inline-block; 
    width: 100px;
    text-align: right;
}