body {
    background-color: grey;
}

img {
    width: 350px;
    position: absolute;
    height: 900px;

}

.headers {
    display: flex; 
    background-color: white;
    text-align: right;
    font-size: 10px;
    padding: 100px;
    
}

.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    
}

.bottomButton {
    background-color: white;
    text-align: center;
    padding: 60px;
   
}

input {
    display: inline-block; 
    width: 100px;
    text-align: right;
}